footer {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-gradient-overlay {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 96px;
    // position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(360deg, rgba(20, 20, 20, 0.9) 0%, rgba(20, 20, 20, 0) 100%);
}

.d-flex-end {
    justify-content: flex-end !important;
}

.legal-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    position: relative;
    z-index: 1;
}