footer {
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-gradient-overlay {
    width: 100%;
    height: 104px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 96px;
    bottom: -86px;
    left: 0;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 50%);
}

.d-flex-end {
    justify-content: flex-end !important;
}

.legal-containter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

@media (min-width: 0px) {
    .legal-containter {
        gap: 32px;
    }
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 768px) {
    .legal-containter {
        gap: 48px;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}


@media (min-height: 0px) {}

@media (min-height: 682px) {}