@use "../../styles.scss" as *;

.custom-video-player {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    .replay-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 998;
        background-color: transparent;
        @include transition-75;

        .replay-btn {
            width: fit-content;
            height: fit-content;
            background-color: var(--card-background);
            padding: 16px;
            border-radius: 22px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            cursor: pointer;
            @include transition-100;

            &:hover {
                svg {
                    fill: var(--primary);
                }

                h5 {
                    color: var(--primary);
                }
            }
        }
    }

    .header-container {
        width: 100%;
        height: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 32px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transition: height 100ms linear, opacity 100ms linear, visibility 0s 100ms;
        // @include transition-75;

        &.animate {
            height: 108px;
            opacity: 1;
            visibility: visible;
            transition: height 100ms linear, opacity 100ms linear, visibility 0s;
        }

        .back-container {
            width: 48px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            @include transition-100;

            &:hover svg path {
                fill: var(--primary);
            }
        }

        .logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            img {
                width: 48px;
                height: 48px;
            }
        }
    }

    .video-js {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        @include transition-75;


        .vjs-tech {
            object-fit: cover;
            object-position: center top;
        }

        .vjs-poster img {
            object-fit: cover;
            object-position: center top;
        }
    }
}

// .vjs-modal-dialog-content {
//     // display: none;
// }

// .vjs-icon-placeholder {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .vjs-control-text {
//     display: none;
// }

.control-container {
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 997;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: height 100ms linear, opacity 100ms linear, visibility 0s 100ms;
    // @include transition-75;

    &.animate {
        height: 108px;
        opacity: 1;
        visibility: visible;
        transition: height 100ms linear, opacity 100ms linear, visibility 0s;
    }


    .progress-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        .progress-content {
            width: inherit;

            .progress-line {
                height: 4px;
                background-color: var(--p-line);
                position: relative;
                z-index: 0;
                cursor: pointer;

                .uploaded-status {
                    height: 4px;
                    width: 100px;
                    background-color: var(--p-status);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                }

                .status {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: var(--primary);
                    position: absolute;
                    top: -4px;
                    z-index: 2;
                    // transition: left 350ms linear;
                    transform: translateX(-50%);
                    cursor: grab;

                    &:active {
                        cursor: grabbing; // Ändert den Cursor während des Ziehens
                        transform: translateX(-50%) scale(1.2); // Optional: Vergrößert den Punkt beim Ziehen
                    }
                }

                &:hover {
                    .status {
                        transform: translateX(-50%) scale(1.1); // Optional: Vergrößert den Punkt beim Hover
                    }
                }
            }
        }
    }

    .control-content {

        display: flex;
        justify-content: space-between;
        align-items: center;

        .right-container {
            width: 264px;
            justify-content: flex-end;
        }

        .left-container {
            width: 280px;
            justify-content: flex-start;
        }

        .right-container,
        .left-container,
        .middle-container {
            display: flex;
            align-items: center;
            gap: 24px;
            position: relative;

            .control-btn {
                width: 48px;
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                @include transition-100;

                &:hover:not(:has(.speed-container:hover)):not(:has(.close-container:hover)) svg path {
                    fill: var(--primary);
                }
            }
        }
    }
}

.speed-container {
    position: absolute;
    right: 32px;
    bottom: 124px;
    display: flex;
    flex-direction: column;
    @include card-box(fit-content, 22px, 10px, 10px);
    @include transition-100;
}

.close-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    position: absolute;
    right: 4px;
    top: -24px;
    background-color: var(--card-background);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;

    &:hover {
        background-color: var(--primary);
    }
}

.speed-content {
    display: flex;
    flex-direction: row;
    gap: 4px;

    .speed-btn {
        width: 48px;
        height: fit-content;
        padding: 4px;
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: var(--primary);
        border: 1px solid var(--primary);
        @include transition-100;
        cursor: pointer;

        &:hover {
            background-color: var(--secondary);
            border-color: var(--secondary);
        }

        &.active {
            background-color: var(--secondary);
            border-color: var(--secondary);
        }
    }
}


.custom-video-player:fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: var(--card-background);

    .header-container.animate,
    .control-container.animate {
        opacity: 1;
        visibility: visible;
    }

    .video-js {
        width: 100vw;
        height: 100vh;
    }
}

.custom-video-player:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}

.custom-video-player:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}

.custom-video-player:-ms-fullscreen {
    width: 100vw;
    height: 100vh;
}

@keyframes showHeader {
    0% {
        opacity: 1;
        visibility: visible;
    }

    80% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}