@use "../../styles.scss" as *;

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: fixed;
    left: 0;
    z-index: 10;
    background-color: var(--primary);

    .error-color {
        background-color: var(--error-red);
    }

    .error-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }
}

.error-content {
    display: flex;
    align-items: center;
    gap: 16px;

    h5 {
        display: flex;
        align-items: center;
        overflow-y: scroll;
    }

    img {
        width: 32px;
        height: 32px;
    }

    .error-btn {
        background-color: var(--white);
        border-color: var(--white);

        p {
            color: var(--primary);
        }

        &:hover {
            background-color: var(--secondary);
            border-color: var(--secondary);

            p {
                color: var(--white);
            }
        }

        &:active {
            color: var(--white);
            background-color: var(--third);
            border-color: var(--third);
        }
    }
}

.close-container {
    display: flex;
    align-items: center;
    gap: 16px;

    .divider {
        height: 32px;
        border: 1px solid var(--white);
    }


    .close-icon {
        cursor: pointer;
        @include transition-75;

        &:hover {
            stroke: var(--secondary);

            path {
                fill: var(--secondary);
            }
        }
    }
}