@use "../../styles.scss" as *;

header {
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background: transparent;
    // position: relative;
    // z-index: 10;
    .logo-mobile {
        cursor: pointer;
    }
}

.w-200 {
    width: 200px;
}

.arrow-back {
    cursor: pointer;
    @include transition-75;

    &:hover {
        stroke: var(--primary);

        path {
            fill: var(--primary);
        }
    }
}

@media (min-width: 0px) {
    header {
        padding: 10px 16px;
    }

    .logo {
        display: none;
    }

    .logo-mobile {
        display: block;
        height: 32px;
    }
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 525px) {
    header {
        padding: 10px 96px;
    }
}

@media (min-width: 768px) {

    .logo {
        display: block;
        height: 32px;
        cursor: pointer;
        @include transition-100;
    }

    .logo-mobile {
        display: none;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}