<div class="main-container">
    <div class="bg-image"></div>
    <form [formGroup]="form" (ngSubmit)="register()">
        <h1>Sign up</h1>
        <div class="inputfield-container">
            <div class="inputfield-content">
                <input class="inputfield" type="email" placeholder="Email Address" formControlName="email"
                    (input)="resetForm()" (focus)="resetForm()"
                    [class.invalidInput]="hasEmailError() || showSignupError()">
                <img class="icon i-icon" src="/assets/img/icons/mail.svg" alt="Email Address Field">
                <div class="error-field" *ngIf="hasEmailError()">
                    <img src="/assets/img/icons/warning.svg" alt="Exception">
                    <p class="errormsg">Invalid email format.</p>
                </div>
            </div>
            <div class="inputfield-content">
                <input #passwordInput class="inputfield inputfield-pw" formControlName="password" type="password"
                    placeholder="Enter a password"
                    [class.invalidInput]="hasPasswordError() || showSignupError() || (hasPasswordMatchError() && submitted)"
                    (focus)="passwordOnFocus(passwordInput, passwordImg)"
                    (blur)="passwordNotOnFocus(passwordInput, passwordImg)"
                    (input)="updateIcon(passwordInput, passwordImg)">
                <img class="icon i-icon" src="/assets/img/icons/password.svg" alt="Password Field">
                <img #passwordImg class="icon pw-icon" src="assets/img/icons/visibility_off.svg"
                    alt="Password Visibility Off" (click)="togglePassword(passwordInput, passwordImg)">
            </div>
            <div class="inputfield-content">
                <input #confirmPasswordInput class="inputfield inputfield-pw" formControlName="confirmPassword"
                    type="password" placeholder="Confirm Password"
                    [class.invalidInput]="hasPasswordMatchError() && submitted || (!hasPasswordMatchError() && hasPasswordError())"
                    (focus)="passwordOnFocus(confirmPasswordInput, confirmPasswordImg)"
                    (blur)="passwordNotOnFocus(confirmPasswordInput, confirmPasswordImg)"
                    (input)="updateIcon(confirmPasswordInput, confirmPasswordImg)">
                <img class="icon i-icon" src="/assets/img/icons/password.svg" alt="Password Field">
                <img #confirmPasswordImg class="icon pw-icon" src="assets/img/icons/visibility_off.svg"
                    alt="Password Visibility Off" (click)="togglePassword(confirmPasswordInput, confirmPasswordImg)">
                <div class="error-field"
                    *ngIf="(hasPasswordMatchError() && submitted) || (!hasPasswordMatchError() && hasPasswordError())">
                    <img src="/assets/img/icons/warning.svg" alt="Exception">
                    <p class="errormsg" *ngIf="hasPasswordMatchError() && submitted">
                        Passwords must match
                    </p>
                    <p class="errormsg" *ngIf="!hasPasswordMatchError() && hasPasswordError()">
                        Password must be at least 8 characters long and contain at least one special character.
                    </p>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="proofDisableBtn()">
            <p class="weight-700">Get Started</p>
        </button>
    </form>
</div>