<div class="bg-image"></div>
<div class="main-container">
    <form>
        <h1>Forgot your password?</h1>
        <p>We will send you an email with instructions to reset your password.</p>
        <div class="inputfield-container">
            <input class="inputfield" type="text" placeholder="Email Address">
            <img class="icon i-icon" src="/assets/img/icons/mail.svg" alt="Email Address Field">
        </div>
        <button disabled>
            <p class="weight-700">Send Email</p>
        </button>
    </form>
</div>