<div class="main-container">
    <div class="bg-image"></div>
    <form [formGroup]="form" (ngSubmit)="sendEmail()">
        <h1>Forgot your password?</h1>
        <p>We will send you an email with instructions to reset your password.</p>
        <div class="inputfield-container">
            <input class="inputfield" type="text" placeholder="Email Address" formControlName="email"
                [class.invalidInput]="hasEmailError()" (input)="resetForm()" (focus)="resetForm()">
            <img class="icon i-icon" src="/assets/img/icons/mail.svg" alt="Email Address Field">
            <div class="error-field" *ngIf="hasEmailError()">
                <img src="/assets/img/icons/warning.svg" alt="Exception">
                <p class="errormsg">Invalid email format.</p>
            </div>
        </div>
        <button type="submit" [disabled]="proofDisableBtn()">
            <p class="weight-700">Send Email</p>
        </button>
    </form>
</div>