@use "../../../styles.scss" as *;

.bg-image {
    @include bg-img(rgba(0, 0, 0, 0.8), -27.44%, rgba(0, 0, 0, 0.44), 44.23%, "assets/img/background/login.jpg")
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include transition-100;

    h1,
    p {
        text-align: center;
    }
}

form {
    width: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 48px;
    padding: 43px 56px;
    background-color: var(--card-background);
    @include transition-100;

    .error-field {
        position: absolute;
        top: 52px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        @include transition-75;

        .errormsg {
            display: contents;
        }
    }
}

.inputfield-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
    margin-bottom: 16px;
}

.inputfield {
    @include input-params(408px, 12px, var(--primary), 12px);
    padding-left: 64px;
}

.i-icon {
    position: absolute;
    top: 12px;
    left: 24px;
    z-index: 1;
}