<div class="bg-image"></div>
<div class="main-container">
    <form [formGroup]="form" (ngSubmit)="resetPW()">
        <h1>Reset password</h1>
        <p>Create a new password for your <a routerLink="/login">Videoflix</a> account.</p>
        <div class="inputfield-container">
            <div class="inputfield-content">
                <input #passwordInput class="inputfield inputfield-pw" formControlName="password" type="password"
                    placeholder="Enter a password"
                    [class.invalidInput]="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
                    (focus)="passwordOnFocus(passwordInput, passwordImg)"
                    (blur)="passwordNotOnFocus(passwordInput, passwordImg)"
                    (input)="updateIcon(passwordInput, passwordImg)">
                <img #passwordImg class="icon pw-icon" src="assets/img/icons/visibility_off.svg" alt="Password"
                    (click)="togglePassword(passwordInput, passwordImg)">
                <img class="icon i-icon" src="/assets/img/icons/password.svg" alt="Password Field">
            </div>
            <div class="inputfield-content">
                <input #confirmPasswordInput class="inputfield inputfield-pw" formControlName="confirmPassword"
                    type="password" placeholder="Confirm Password"
                    [class.invalidInput]="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched"
                    (focus)="passwordOnFocus(confirmPasswordInput, confirmPasswordImg)"
                    (blur)="passwordNotOnFocus(confirmPasswordInput, confirmPasswordImg)"
                    (input)="updateIcon(confirmPasswordInput, confirmPasswordImg)">
                <img class="icon i-icon" src="/assets/img/icons/password.svg" alt="Password Field">
                <img #confirmPasswordImg class="icon pw-icon" src="assets/img/icons/visibility_off.svg" alt="Password"
                    (click)="togglePassword(confirmPasswordInput, confirmPasswordImg)">
                <div class="error-field" *ngIf="form.hasError('passwordMismatch') && form.get('confirmPassword')?.touched">
                    <img src="/assets/img/icons/warning.svg" alt="Exception">
                    <p class="errormsg">Passwords must match</p>
                </div>
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid && !submitted">
            <p class="weight-700">Reset my password</p>
        </button>
    </form>
</div>