<div class="main-container">
    <h1>Legal Notice</h1>
    <p>
        Pirathib Mahalingam<br>
        Resmibergstrasse 47 <br>
        8280 Kreuzlingen <br>
        Switzerland <br>
    </p>
    <h2>Contact</h2>
    <p>Phone: +41 (0)76 433 49 92</p>
    <p>Email: <a href="mailto:hello@pirathib-mahalingam.ch">hello&#64;pirathib-mahalingam.ch</a></p>
    <div class="disclaimer-container">
        <h2>Disclaimer</h2>
        <div class="disclaimer-content">
            <h3>Responsibility for Content</h3>
            <p>The content of our websites has been created with the utmost care. Nevertheless, we cannot guarantee that
                the content is current, reliable, or complete. According to legal regulations, we are responsible for
                the content we create ourselves. In this context, we would like to clarify that we are not responsible
                for information provided by third parties or collected by them. We neither control the information sent
                nor do we track any potential illegal activities. If illegal activities are identified, we will fulfill
                our obligation to block or delete the corresponding content, in accordance with paragraphs 8 to 10 of
                the Telemedia Act (TMG).</p>
            <h3>Responsibility for Links</h3>
            <p>The responsibility for content from third-party links (external content) lies with the respective website
                operators. At the time of inserting the links used on our pages, no illegal activities were identified
                in them. Once we become aware of illegal activities or violations, we will remove the corresponding
                link.</p>
            <h3>Copyright</h3>
            <p>Our websites and their content (texts, photos, graphics, design) are subject to German copyright law.
                Unless otherwise legally agreed, the use, reproduction, copying, or modification of the content is
                subject to copyright. Exceptions must be approved in writing by the website operators or rights holders.
                Individual copies are only permitted for private use and may not be used directly or indirectly for
                commercial purposes. Unauthorized use of copyrighted material is punishable under Section 106.</p>
        </div>
    </div>
    <p>Source: <a href="https://impressumgeneratorenglisch.de/" target="_blank">impressumgeneratorenglisch.de</a></p>
</div>