* {
    margin: 0;
    box-sizing: border-box;
    // user-select: none;
    scroll-behavior: smooth;
    color: var(--white);
}

@font-face {
    font-family: 'DM Sans';
    src: url(assets/fonts/DMSans-VariableFont_opsz,wght.ttf);
}

@mixin transition-75 {
    transition: all 125ms ease-in-out;
}

@mixin transition-100 {
    transition: all 100ms ease-out;
}

@mixin card-box($width, $radius, $padding, $gap) {
    width: $width;
    radius: $radius;
    padding: $padding;
    gap: $gap;
    background-color: var(--card-background);
}

@mixin button {
    height: 48px;
    radius: 40px;
    padding: 12px 24px;
    gap: 10px;
    background-color: var(--primary);
}

@mixin bg-img($color1, $pos1, $color2, $pos2, $url) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    background: var(--card-background);
    background: linear-gradient(180deg,
        #{$color1} #{$pos1},
        #{$color2} #{$pos2},
        rgba(0, 0, 0, 0.8) 100%),
    url(#{$url});
    background-size: cover;
    background-position: center;
}

@mixin input-params($width, $border-radius, $border-color, $gap) {
    width: #{$width};
    border-radius: #{$border-radius};
    border-color: #{$border-color};
    gap: #{$gap};
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: var(--black);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 8px;
}

:root {
    --primary: rgba(46, 62, 223, 1);
    --secondary: rgba(46, 61, 223, 0.8);
    --third: rgba(123, 12, 254, 1);
    --inactive: rgba(94, 94, 94, 1);
    --card-background: rgba(27, 27, 34, 0.85);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(20, 20, 20, 1);
    --txt-gray: rgba(83, 84, 86, 1);
    --utility-white: rgba(211, 211, 211, 1);
    --text-field-bg: rgba(28, 26, 32, 0.8);
    --error-red: rgba(255, 0, 46, 1);
    --gradient-right: linear-gradient(88.67deg, rgba(20, 20, 20, 0) 1.13%, #141414 48.04%);
    --gradient-bottom: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9) 50%);
}

h1 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

h2 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

h3 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

h4 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

h5 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

h6 {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

p {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
}

ul,
li {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: 0%;
    color: var(--white);
    text-align: justify;
}

.weight-700 {
    font-weight: 700;
}

.p-u-white {
    color: var(--utility-white);
}

a {
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    @include transition-75;

    &:hover {
        color: var(--primary);
    }

    &:active {
        color: var(--third);
    }
}

span {
    font-family: 'DM Sans';
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--white);
}

.f-size-16 {
    font-size: 16px;
}

.f-size-16 {
    font-size: 18px;
}

.errormsg {
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    color: var(--error-red);
}

.text-a-center {
    text-align: center;
}

.loader {
    width: 50px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--primary);
    --_m:
        conic-gradient(#0000 10%, #000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: loading 1s infinite linear;
}

input {
    height: 48px;
    border: 1px solid;
    background-color: var(--text-field-bg);
    padding: 12px 24px;
    display: flex;
    font-family: 'DM Sans';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    outline: none;
    @include transition-75;
    cursor: text;

    &::placeholder {
        color: var(--white);
    }

    &:active {
        border-color: var(--secondary);
    }

    &:focus,
    &:focus-visible {
        border-color: var(--secondary);

        &::placeholder {
            color: transparent;
        }
    }

    &.invalidInput {
        border-color: var(--error-red);
    }
}

button {
    width: max-content;
    height: 48px;
    border-radius: 40px;
    padding: 12px 24px;
    gap: 10px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    @include transition-75;
    cursor: pointer;

    &:hover {
        background-color: var(--secondary);
        border-color: var(--secondary);
    }

    &:active {
        background-color: var(--third);
        border-color: var(--third);
    }

    &[disabled],
    &:disabled {
        cursor: not-allowed;
        background-color: var(--inactive) !important;
        border-color: var(--inactive) !important;
    }
}

.icon {
    width: 24px;
    height: 24px;
}