@use "../../../styles.scss" as *;

.main-container {
    height: inherit;
    position: relative;
}

.video-background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100vw;

    .background-video {
        width: 100vw;
        height: inherit;
        object-fit: cover;
        object-position: center top;
    }

    .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 101%;
        background: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 0%, rgba(20, 20, 20, 0) 50%, #141414 100%);
        z-index: 1;
    }
}

.page-content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include transition-100;
    position: relative;
    z-index: 1;
}

.video-details {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 80px;

    h1 {
        word-break: break-all;
    }

    p {
        font-size: 16px;
    }

    button {
        display: flex;
        gap: 8px;
        align-items: center;
        justify-content: center;
    }
}

.section-new-videos {
    height: 100%;
    display: flex;
    flex-direction: column;

    .section-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .horizontal-scroll-wrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .video-thumbnails-row {
        display: flex;
        flex-direction: row;
        gap: 16px;
        position: relative;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-behavior: smooth;
        scrollbar-width: none;
        -ms-overflow-style: none;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            display: none;
        }

        &.dragging {
            cursor: grabbing;
        }
    }

    .thumbnail {
        cursor: pointer;
        flex: 0 0 auto;

        img {
            width: inherit;
            height: inherit;
            user-select: none;
        }
    }

    .scroll-placeholder {
        flex: 0 0 200px;
        height: 120px;
        pointer-events: none;
    }

    .right-gradient-overlay {
        position: absolute;
        top: -4%;
        right: 0;
        height: 108%;
        background: linear-gradient(88.67deg, rgba(20, 20, 20, 0) 1.13%, #141414 48.04%);
        pointer-events: none;
        z-index: 10;
    }
}