<div class="main-container">
    <video class="video-container" preload="metadata" poster="assets/video/thumbnail/thumbnail.jpg">
        <source src="/assets/video/thumbnail/escape.mp4" type="video/mp4">
        Video not supported.
    </video>
    <!-- <div class="video-wrapper"></div>
    <div class="video-detailinfo">
        <h1>Breakout</h1>
        <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
            his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
            truth.</p>
        <button>
            <img src="/assets/img/icons/play_arrow.svg" alt="Play Video">
            <p>Play</p>
        </button>
    </div>
    <div class="list-container">
        <div class="right-gradient"></div>
        <div class="list-content">
            <h4>New on Videoflix</h4>
            <div class="video-list">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                <div class="gradient"></div>
            </div>
        </div>
    </div> -->
</div>