<div class="video-background-wrapper">
    <video class="background-video" preload="metadata" poster="assets/video/thumbnail/thumbnail.jpg">
        <source src="/assets/video/thumbnail/escape.mp4" type="video/mp4">
        Video not supported.
    </video>
    <div class="background-overlay"></div>
</div>
<div class="page-content">
    <div class="video-details">
        <h1>Breakout</h1>
        <p>
            In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove
            his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the
            truth.
        </p>
        <button>
            <img src="/assets/img/icons/play_arrow.svg" alt="Play Video">
            <p>Play</p>
        </button>
    </div>
    <section class="section-new-videos">
        <div class="section-content">
            <h4>New on Videoflix</h4>
            <div class="horizontal-scroll-wrapper">
                <div class="video-thumbnails-row">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="1">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="2">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="3">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="4">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="5">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="6">
                    <img class="thumbnail" src="/assets/video/thumbnail/t1.jpg" alt="7">
                    <div class="scroll-placeholder"></div>
                </div>
                <div class="right-gradient-overlay"></div>
            </div>
        </div>
    </section>
</div>