@use "../../../styles.scss" as *;

.master-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include transition-100;

    .bg-image {
        height: 100%;
    }

    h1 {
        text-align: center;
    }

    h4 {
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        margin-bottom: 16px;
    }

    p {
        text-align: center;
    }

    form {
        background-color: unset;
        padding: unset;
    }
}

.atf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.bg-image {
    @include bg-img(#000000, -19.89%, rgba(0, 0, 0, 0.55), 55.46%, "assets/img/background/start.jpg")
}

.signup-form {
    // width: max-content; // responsive
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: relative;

    // .error-field {
    //     position: absolute;
    //     top: 52px;
    //     left: 0;
    //     display: flex;
    //     justify-content: flex-start;
    //     align-items: center;
    //     gap: 4px;
    //     @include transition-75;

    //     .errormsg {
    //         display: contents;
    //     }
    // }

    .signup-content {
        width: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        position: relative;
    }

    .btn-content {
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
            width: 14px;
            height: 14px;
        }
    }
}

@media (min-width: 0px) {
    // .main-container {
    //     padding: 32px 16px;

    //     .email-content {
    //         flex-direction: column;
    //         align-items: self-start;
    //     }
    // }
    .main-container {
        width: inherit;
        gap: 16px;
        padding: 0 16px;

        .bg-image {
            width: 100%;
        }

        h4 {
            display: block;
        }

        form {
            flex-direction: column;
            justify-content: unset;
        }

        .inputfield {
            @include input-params(100%, 40px, var(--white), 10px)
        }
    }

    .signup-form {
        width: 100%;
    }

    .signup-content {
        flex-direction: column;
    }
}

@media (min-width: 375px) {}

@media (min-width: 425px) {}

@media (min-width: 525px) {
    .main-container {
        width: inherit;
        gap: 16px;
        padding: 0 96px;
    }
}

@media (min-width: 768px) {
    .main-container {
        width: 100%;
        gap: 32px;

        h4 {
            display: none;
        }

        form {
            flex-direction: row;
            justify-content: center;
        }

        .inputfield {
            @include input-params(360px, 40px, var(--white), 10px)
        }
    }

    .signup-form {
        width: max-content;
    }

    .signup-content {
        flex-direction: unset;
    }
}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}

@media (min-width: 1920px) {}


@media (min-height: 0px) {}

@media (min-height: 682px) {}