@use "../../../styles.scss" as *;

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    @include transition-100;
}

.atf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.bg-image {
    @include bg-img(#000000, -19.89%, rgba(0, 0, 0, 0.55), 55.46%, "assets/img/background/start.jpg")
}

.signup-form {
    display: flex;
    justify-content: center;
    gap: 16px;

    .btn-content {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.inputfield {
    @include input-params(360px, 40px, var(--white), 10px)
}