<div class="background-image"></div>
<div class="main-container">
    <div class="atf">
        <h1>Movies, TV shows, and more</h1>
        <p>Enter your email to create or restart your subscription.</p>
    </div>
    <div class="signup-form">
        <input type="text" placeholder="Email Address">
        <button>
            <div class="btn-content">
                <p class="p-bold">Sign Up</p>
                <img class="icon" src="assets/img/icons/chevron_right.svg" alt="Chevron Right">
            </div>
        </button>
    </div>
</div>