@use "../../../styles.scss" as *;

.main-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    @include transition-100;
}

.atf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.bg-image {
    @include bg-img(#000000, -19.89%, rgba(0, 0, 0, 0.55), 55.46%, "assets/img/background/start.jpg")
}

.signup-form {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    position: relative;

    .error-field {
        position: absolute;
        top: 52px;
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        @include transition-75;

        .errormsg {
            display: contents;
        }
    }

    .btn-content {
        display: flex;
        align-items: center;
        gap: 8px;

        .icon {
            width: 14px;
            height: 14px;
        }
    }
}

.inputfield {
    @include input-params(360px, 40px, var(--white), 10px)
}